html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: verdana;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    overflow: hidden;
}

#login-area {
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 150px;
}

#login-area #login-text {
    width: 100%;
    text-align: center;    
    margin-top: 70px;
}

#login-area #login-form-area {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#login-area #login-form-area #login-form #username {
    height: 50px;
    width: 100px;
    padding: 0px, 5px;
    font-size: 24px;
    outline: none;
    outline-offset: 0;
}

#login-area #login-form-area #login-form #login-submit {
    height: 50px;
    width: 100px;
    padding: 0px, 5px;
    font-size: 24px;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
}

#login-area #login-form-area #login-form #login-submit:hover {
    color: white;
    background-color:black;
}

#test {
    display: none;
    width: 900px;
    height: 500px;
    background-color: red
}

#chat-area {
    display: none;
    height: 100%;
    width: 100%;
    background-color:red;   
}